.menubar
	%ul.nav
		%li
			%span.menuItem= "Moc"
		%li
			%span.menuItem= "Links"
		%li
			%span.menuItem= "Feeds"
			
		%li.right
			%span.menuItem.right= "Register"
		%li.right
			%span.menuItem.right= "Login"

.container
	%h1="Moc."