.left-bar
	%ul
		%header
			= link_to("/") do
				%span.item.title= "Moc"
		- if user_signed_in?
			%li
				= link_to("links") do
					%span.item= "Links"
			%li
				= link_to("feed") do
					%span.item= "Feeds"
			
			%li
				%a{:href => current_user.username}
					%span.item= "Profile"
					
			%li
				=link_to("logout", :method => "delete") do
					%span.item= "Logout"
				
		- else
			%li
				%a{:href => "login"}
					%span.item= "Login"
		
			%li
				%a{:href => "register"}
					%span.item= "Register"

.container
	- if user_signed_in?
		- if @allActivities == nil
			%h1="Friends' feeds."
			%p="Nothing to see here. Move along."
		- else
			- @feeds.sort.reverse.each do |activity|
				.activity
					=link_to("/discuss/" + activity.title) do
						%h1.linkTitle= activity.title
					=link_to(activity.url) do
						%i.icon-link
						
					%span.option.date= activity.created_at
					%span.option.url= activity.url.split("/")[2] + " — " + activity.comments.count.to_s + " comments"
					%span.vote= activity.vote
					

					
	- else
		%p="Nothing to see here. Move along."