.left-bar
	%ul
		%li
			%span.item.title= "Moc"
		- if user_signed_in?
			%li
				= link_to("links") do
					%span.item= "Links"
			%li
				= link_to("feed") do
					%span.item= "Feeds"
			
			%li
				= link_to("logout", :method => "delete") do
					%span.item= "Logout"
			%li
				%a{:href => current_user.username}
					%span.item= "Profile"
				
		- else
			%li
				%a{:href => "register"}
					%span.menuItem= "Register"
			%li
				%a{:href => "login"}
					%span.menuItem= "Login"

.container
	-if user_signed_in?
		- if @allActivities == nil
			%h1="Friends' feeds."
			%p="Nothing to see here. Move along."
		- else
			- @feeds.sort.reverse.each do |activity|
				.activity
					%h3= activity.title
					%span.option.date= activity.created_at
					%span.option.url= activity.url
					%span.option.author= @followingUsers.find_by_id(activity.user_id).username
					%span.option.content= activity.content
	- else
		%p="Nothing to see here. Move along."