.menubar
	%ul.nav
		%li
			%span.menuItem.title= "Moc"
		%li
			%span.menuItem= "Links"
		%li
			%span.menuItem= "Feeds"
			
		%li.right
			%a{:href=>"/"}
				%span.menuItem= "Register"
		%li.right
			%span.menuItem= "Login"

.container
	%h1="Moc."