.left-bar
	%ul
		%header
			= link_to("/") do
				%span.item.title= "Moc"
		- if user_signed_in?
			%li
				= link_to("links") do
					%span.item= "Links"
			
			%li
				%a{:href => current_user.username}
					%span.item= "Profile"
					
			%li
				=link_to("logout", :method => "delete") do
					%span.item= "Logout"
					
			%li
				=link_to("add") do
					%span.add-button.item= "New link"
				
		- else
			%li
				%a{:href => "login"}
					%span.item= "Login"
		
			%li
				%a{:href => "register"}
					%span.item= "Register"

.container
	- if user_signed_in?
		- if @allActivities == nil
			%h1="Friends' feeds."
			%p="Nothing to see here. Move along."
		- else
			%ul
				- @feeds_page.sort.reverse.each do |activity|
					- if activity.private != true
						%li.feed
							%span.author= activity.user.username
							=link_to activity.url do
								%span.linkTitle= activity.title					
							=link_to "/discuss/" + activity.title do
								%i.icon-link
							=link_to "/vote/" + activity.id.to_s + "/up" do
								%i.icon-thumbs-up.right
							=link_to "/add/" + activity.id.to_s do
								%i.icon-bookmark.right
				
			=paginate @feeds_page
			
	- else
		%p="Nothing to see here. Move along."