.left-bar
	%ul
		%header
			= link_to("/") do
				%span.item.title= "Moc"
		- if user_signed_in?
			%li
				= link_to("links") do
					%span.item= "Links"
			%li
				= link_to("feed") do
					%span.item= "Feeds"
			
			%li
				%a{:href => current_user.username}
					%span.item= "Profile"
					
			%li
				=link_to("logout", :method => "delete") do
					%span.item= "Logout"
					
			%li
				=link_to("add") do
					.add-button= "New link"
				
		- else
			%li
				%a{:href => "login"}
					%span.item= "Login"
		
			%li
				%a{:href => "register"}
					%span.item= "Register"

.container
	- if user_signed_in?
		- if @allActivities == nil
			%h1="Friends' feeds."
			%p="Nothing to see here. Move along."
		- else
			%ul
				- @feeds.sort.reverse.each do |activity|
					%li.feed
						=link_to (activity.url) do
							%h1.linkTitle= activity.title
						=link_to("/discuss/" + activity.title) do
							%i.icon-link
						=link_to("/discuss/" + activity.title) do
							%i.icon-star.right
						=link_to("") do
							%i.icon-bookmark.right
							
						
					
	- else
		%p="Nothing to see here. Move along."