.left-bar
	%ul
		%li
			%span.item.title= "Moc"
		- if user_signed_in?
			%li
				= link_to("links") do
					%span.item= "Links"
			%li
				= link_to("feed") do
					%span.item= "Feeds"
					
			%li
				%a{:href => current_user.username}
					%span.item= "Profile"
			
			%li
				= link_to("logout", :method => "delete") do
					%span.item= "Logout"
			
		- else
			%li
				%a{:href => "register"}
					%span.menuItem= "Register"
			%li
				%a{:href => "login"}
					%span.menuItem= "Login"

.container
	- @feeds.each do |feed|
		%section
			%header
				%h1.linkTitle= feed.title
				=link_to (feed.url) do
					%span.url= feed.url
			%article
				%p=feed.content
