.left-bar
	%ul
		%li
			%span.item.title= "Moc"
		- if user_signed_in?
			%li
				= link_to("links") do
					%span.item= "Links"
			%li
				= link_to("feed") do
					%span.item= "Feeds"
			
			%li
				= link_to("logout", :method => "delete") do
					%span.item= "Logout"
			%li
				%a{:href => current_user.username}
					%span.item= "Profile"
				
		- else
			%li
				%a{:href => "register"}
					%span.menuItem= "Register"
			%li
				%a{:href => "login"}
					%span.menuItem= "Login"

.container
	%h1= @userName
	- if @user.following?(current_user,@user)
		=link_to("unfollow/" + @userName, :method => :delete) do
			%span.right= "Unfollow"
		
	- else
		=link_to("follow/" + @userName, :method => :post) do
			%span.right= "Follow"
			
	%span.right= "Following : " + @user.following.count.to_s
	%span.right= "Follower : " + @user.followers.count.to_s
	
	.links
		- @links.each do |link|
			%h2=link.title
			%span=link.url