.left-bar
	%ul
		%header
			= link_to("/") do
				%span.item.title= "Moc"
		- if user_signed_in?
			%li
				= link_to("links") do
					%span.item= "Links"
			
			%li
				%a{:href => current_user.username}
					%span.item= "Profile"
					
			%li
				=link_to("logout", :method => "delete") do
					%span.item= "Logout"
					
			%li
				=link_to("add") do
					%span.add-button.item= "New link"
				
		- else
			%li
				%a{:href => "login"}
					%span.item= "Login"
		
			%li
				%a{:href => "register"}
					%span.item= "Register"

.container
	%h1= @userName
	%span.right= "Following : " + @user.following.count.to_s
	%span.right= "Follower : " + @user.followers.count.to_s
	%span.right= " | "
	
	%span.right{"data-uri" => "#{request.host}:#{request.port}/websocket"}

	- if @user.following?(current_user,@user)
		=link_to("unfollow/" + @userName, :method => :delete) do
			%span.right= "Unfollow"
		
	- else
		=link_to("follow/" + @userName, :method => :post) do
			%span.right= "Follow"
			
	%a{:href=>"javascript:(function(){MOC_SCRIPT=document.createElement('SCRIPT');MOC_SCRIPT.type%20=%20'text/javascript';MOC_SCRIPT.src%20=%20'http://moc.dev/api/create?url='%20+%20escape(location.href)%20+'&auth_token=" + current_user.authentication_token + "'+'&title='+document.title+'&content=';%20document.getElementsByTagName('head')[0].appendChild(MOC_SCRIPT);})();"} Moc
			
	- @links.each do |link|
		.activity
			=link_to("/discuss/" + link.title) do
				%h2=link.title
			=link_to(link.url) do
				%i.icon-link
				
			%span.option.url=link.url