= form_for @link do |f|
	%header
		%h3
			= f.text_field :title, :value => @title, :placeholder => "Title"
		
	= f.text_field :url, :value => @url, :placeholder => "URL"
	
	.content
		= f.text_area :content, :rows => 3, :placeholder => "Content"
	.actions
		= f.submit 'Save', :class => "button"