.left-bar
	%ul
		%header
			= link_to("/") do
				%span.item.title= "Moc"
		- if user_signed_in?
			%li
				= link_to("links") do
					%span.item= "Links"
								
			%li
				%a{:href => current_user.username}
					%span.item= "Profile"
					
			%li
				=link_to("logout", :method => "delete") do
					%span.item= "Logout"
					
			%li
				=link_to("add") do
					%span.add-button.item= "New link"
				
		- else
			%li
				%a{:href => "login"}
					%span.item= "Login"
		
			%li
				%a{:href => "register"}
					%span.item= "Register"

.container
	%ul
		- @links.each do |link|
			%li.feed
				=link_to link.url do
					%span.linkTitle= link.title
				- if isPrivate(link)
					%i.icon-lock
				=link_to "/discuss/" + link.title do
					%i.icon-link
				=link_to "/vote/" + link.id.to_s + "/up" do
					%i.icon-thumbs-up.right
				=link_to "/add/" + link.id.to_s do
					%i.icon-bookmark.right
				- if isPrivate(link)
					=link_to("/change/" + link.id.to_s + "/public") do
						%i.icon-unlock-alt.right
				- else
					=link_to("/change/" + link.id.to_s + "/private") do
						%i.icon-lock.right