.left-bar
	%ul
		%header
			= link_to("/") do
				%span.item.title= "Moc"
		- if user_signed_in?
			%li
				= link_to("links") do
					%span.item= "Links"
			
			%li
				%a{:href => current_user.username}
					%span.item= "Profile"
					
			%li
				=link_to("logout", :method => "delete") do
					%span.item= "Logout"
					
			%li
				=link_to("add") do
					%span.add-button.item= "New link"
				
		- else
			%li
				%a{:href => "login"}
					%span.item= "Login"
		
			%li
				%a{:href => "register"}
					%span.item= "Register"

.container
	%section
		%article
			=link_to @link.url do
				%h1.title= @link.title
			- if isPrivate(@link)
				%i.icon-lock
			%span.item= "by " + @link.user.username + " — "
						
			=link_to("/add/" + @link.id.to_s) do
				%span Read it later
			- if User.find_by_username(@link.user.username).id == current_user.id	
				%span —	
				- if isPrivate(@link)
					=link_to("/change/" + @link.id.to_s + "/public") do
						%span Publicize
				- else
					=link_to("/change/" + @link.id.to_s + "/private") do
						%span Make private
									
			.content
				%span.item.content= @link.content
				
				- if User.find_by_username(@link.user.username).id == current_user.id
					=link_to @link, {:confirm => 'Are you sure?', :method => :delete} do
						%span.item.delete= "Delete"
				
				
				.vote
					=link_to "/vote/" + @link.id.to_s + "/up" do
						.button= "Recommand"
					
		
		.comments#comment
			%h1.title Comments
			=render @link.comments
			=render "comments/form"