.left-bar
	%ul
		%header
			= link_to("/") do
				%span.item.title= "Moc"
		- if user_signed_in?
			%li
				= link_to("links") do
					%span.item= "Links"
			%li
				= link_to("feed") do
					%span.item= "Feeds"
			
			%li
				%a{:href => "/"+current_user.username}
					%span.item= "Profile"
					
			%li
				=link_to("logout", :method => "delete") do
					%span.item= "Logout"
				
		- else
			%li
				%a{:href => "login"}
					%span.item= "Login"
		
			%li
				%a{:href => "register"}
					%span.item= "Register"

.container
	%section
		%article
			=link_to("/discuss/" + @link.title) do
				%h1.title= @link.title
			%span.item= @link.url
			=link_to("/add/" + @link.id.to_s) do
				%span Read it later
			%span.item= "Written by " + @link.user.username
			.content
				%span.item.content= @link.content
		
		.comment
			%h1.title Comments
			%ul.comments
				=render @link.comments
			=render "comments/form"