.left-bar
	%ul
		%header
			= link_to("/") do
				%span.item.title= "Moc"
		- if user_signed_in?
			%li
				= link_to("links") do
					%span.item= "Links"
			%li
				= link_to("feed") do
					%span.item= "Feeds"
			
			%li
				%a{:href => "/"+current_user.username}
					%span.item= "Profile"
					
			%li
				=link_to("logout", :method => "delete") do
					%span.item= "Logout"
				
		- else
			%li
				%a{:href => "login"}
					%span.item= "Login"
		
			%li
				%a{:href => "register"}
					%span.item= "Register"

.container
	%section
		=link_to("/discuss/" + @link.title) do
			%h1.title= @link.title
		%span.item= @link.url
		%span.item= "Written by " + @link.user.username
		%span.item.content= @link.content
		
		%h2 Comments
		- @link.comments.each do |comment|
			%p
				%b Commenter:
				#{comment.author}	
			%p
				%b Comment:
				#{comment.body}
					
		%h2 Add a comment:
		= form_for([@link, @link.comments.build]) do |f|
			.field
				#{f.label :author}
				%br
					#{f.text_field :author}
			.field
				#{f.label :body}
				%br
					#{f.text_area :body}
			.actions
				#{f.submit}